[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "PenguinR"]
	path = PenguinR
	url = https://github.com/jpablovargas340/penguinr
